/*
	Предустановленные.
*/

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(/fonts/open_sans.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/open_sans_bold.woff) format('woff');
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
}

a {
	color: #595957;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 22px;
}

p {
	margin-top: 10px;
}

input {
	color: #666666;
}

input[type="button"],
input[type="submit"] {
	background: url("/images/button-bg.png") repeat scroll 0% 0% transparent;
	border: 1px solid #a6a4a2;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	height: 28px;
	font-weight: bold;
	padding: 0px 10px;
}

input[type="checkbox"] {
	top: 1px;
	position: relative;
}

table {
	color: #595957;
	width: 100%;
}

tr.first {
	background-color: #dddddd;
}

tr.second {
	background-color: #ffffff;
}

td,
th {
	border: 1px solid #b2b2b2;
	padding: 4px 10px;
}

th {
	font-weight: bold;
	text-align: center;
}

th[colspan] {
	background-color: #5ca7cc;
	color: #ffffff;
	text-align: left;
}

.glyphicons i:before {
	font-size: 22px;
}

.cl-b {
	clear: both;
}

.d-n {
	display: none;
}

.fl-l {
	float: left;
}

.fl-n {
	float: none;
}

.fl-r {
	float: right;
}

.fs-i {
	font-style: italic;
}

.h-a {
	height: auto;
}

.ta-c {
	text-align: center;
}

.ta-l {
	text-align: left;
}

.ta-r {
	text-align: right;
}

.va-t {
	vertical-align: top;
}

.w-all {
	width: 100%;
}

.ws-no {
	white-space: nowrap;
}

.error {
	color: #ff0000;
}

.loader-bg {
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10000;
}

.loader-bg .loader {
	background-image: url(/images/loader.gif);
	height: 64px;
	width: 64px;
}

header {
	background: url("/images/header-bg.png");
	height: 80px;
}

.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}

header .logo {
	background: url("/images/logo.png");
	height: 50px;
	width: 432px;
}

header.auth .logo {
	margin: 0 auto;
}

header .menu .main-wrapper {
	background: url("/images/header-bg-2.png") no-repeat center 0 transparent;
	height: 80px;
	padding-top: 15px;
}

header .menu {
}

header form {
	margin-top: 12px;
}

header .menu nav {
	float: right;
}

header .menu ul {
	margin-right: 25px;
}

header .menu li {
	cursor: pointer;
	float: left;
	padding: 16px;
}

header .menu li a {
	display: block;
}

header .subMenu {
	background: url("/images/submenu-bg.png");
	display: none;
	height: 57px;
	position: absolute;
	width: 100%;
}

header .subMenu nav {
	padding-top: 10px;
}

header .subMenu ul {
	display: none;
	float: right;
	margin-right: 83px;
}

header .subMenu li {
	border: 1px solid transparent;
	cursor: pointer;
	float: left;
	height: 28px;
	margin-right: 20px;
	padding: 3px 10px 0;
}

header .subMenu li.active {
	background: url("/images/submenu-active-bg.png") repeat scroll 0% 0% transparent;
	border: 1px solid #a6a4a2;
	border-radius: 5px;
	color: #40403e;
}

header .subMenu li a {
}

div.main {
	min-height: 100%;
	position: relative;
}

div.main > div {
	background: url("/images/content-bg.png") repeat-x;
	min-height: 570px;
	padding-bottom: 70px;
}

div.main > div .main-wrapper {
	background: url("/images/content-bg-2.png") no-repeat center 0 transparent;
	min-height: 570px;
	padding-top: 20px;
}

.pseudo-select {
    position: relative;
    font-size: 14px;
    font-family: verdana;
    text-align: left;
}

.pseudo-select .select {
    background: transparent url("/images/select-arrow.png") no-repeat scroll 100% 10px;
    border: 2px solid #E0E1DD;
    color: #555;
    cursor: pointer;
    height: 32px;
    padding: 4px 5px;
}

.pseudo-select .options {
    background: #FFF none repeat scroll 0px 0px;
    border: 2px solid #E0E1DD;
    display: none;
    left: 0px;
    margin-top: 28px;
    max-height: 260px;
    min-width: 110px;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    z-index: 10;
}

.pseudo-select .options > div {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.pseudo-select .options > div:hover {
	background: #eee;
}

.pseudo-select .options > div.check {
    background: #E1E1E1 none repeat scroll 0% 0%;
}

form.auth {
	background-color: #ffffff;
	border: 1px solid #b2b2b2;
	margin: auto;
	padding: 10px 25px 15px;
	width: 400px;
}

form.auth h1 {
	text-align: center;
}

form.auth dl {
}

form.auth dd {
	margin: 10px 0;
	width: 100%;
}

form.auth dd.login-field {
	border: 1px solid #B2B2B2;
}

form.auth .user i:before {
	left: 8px;
	top: 7px;
}

form.auth .lock i:before {
	left: 9px;
	top: 7px;
}

form.auth input[type="text"],
form.auth input[type="password"] {
	border: 0px none;
	float: right;
	height: 35px;
	padding: 8px 0;
	width: 307px;
}

form.auth input[type="button"],
form.auth input[type="submit"] {
}

div.breadcrumbs {
	margin-bottom: 20px;
	font-style: italic;
}

div.breadcrumbs span {
	height: 20px;
	margin: 0px 5px 0px 6px;
}

div.content {
	background-color: #ffffff;
	border: 1px solid #b2b2b2;
	margin: auto;
	padding: 10px 25px 15px;
}

section.table {
	
}

section.table > ul {
	float: right;
	margin: 10px 0;
}

section.table > ul li {
	float: left;
	margin-left: 10px;
}

section.table table td:first-child {
	width: 250px;
}

section.table table .drag {
	background: transparent url("/images/sprite.png") no-repeat scroll -122px -18px;
	cursor: pointer;
	height: 13px;
	margin-top: 3px;
	position: absolute;
	width: 7px;
}

section.table table ul {
}

section.table table ul li {
	min-height: 20px;
}

section.table table p {
	margin: 0;
}

section.form ul {
	float: left;
	margin: 10px 0;
}

section.form ul li {
	float: left;
	margin-left: 10px;
}

section.form aside {
	border: 1px solid #E0E1DD;
	float: right;
}

section.form aside .arrow {
	background: url("/images/form-arrow.png") no-repeat scroll 0px 6px transparent;
	height: 25px;
	margin-left: -10px;
	padding-top: 3px;
	position: absolute;
	width: 11px;
}

section.form aside .wrapper {
	background-color: #F7F7F6;
	margin: 1px;
	width: 250px;
}

section.form aside .info {
}

section.form aside .info .error,
section.form aside .info .description {
	min-height: 30px;
	padding: 0 5px 5px;
}

section.form aside .info .image {
	background-image: url("/images/sprite.png");
	background-repeat: no-repeat;
	float: left;
	height: 20px;
	margin-top: 5px;
	width: 24px;
}

section.form aside .info .error .image {
	background-position: -13px -15px;
}

section.form aside .info .description .image {
	background-position: -64px -15px;
}

section.form aside .info .text {
	margin-left: 30px;
	padding-top: 5px;
}

section.form table {
	width: 680px;
}

section.form table td {
	border: none;
	height: 34px;
	vertical-align: middle;
}

section.form table td:last-child {
	width: 530px;
}

section.form table input[type="text"],
section.form table input[type="password"] {
	border: 1px solid #B2B2B2;
	padding: 3px 10px 5px;
	width: 510px;
}

section.form table select.multi {
    border: 1px solid #B2B2B2;
    float: left;
    width: 215px;
}

section.form table select.multi option {
	cursor: pointer;
	padding: 0px 10px 3px;
}

section.form table select.multi option.first:hover,
section.form table select.multi option.second:hover {
	background: #7DD4FF;
}

section.form table select.multi option.first {
	background-color: #dddddd;
}

section.form table select.multi option.second {
	background-color: #ffffff;
}

section.form table div.arrows {
    float: left;
    margin: 0px 20px;
}

section.form table div.arrow {
    background-image: url("/images/sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    margin: 0px;
    padding: 0px;
    width: 40px;
}

section.form table div.arrows div.arrow.left {
    background-position: -155px -5px;
    margin-top: 10px;
}

section.form table div.arrows div.arrow.right {
    background-position: -205px -5px;
}

footer {
	background: url("/images/footer-bg.png");
	bottom: 0;
	height: 40px;
	position: absolute;
	width: 100%;	
}

footer .copyright {
	color: #666666;
	font-size: 14px;
	margin: 0 auto;
	width: 150px;
	margin-top: 10px;
}