/*
 * Primary color	- #2196F3	- 33, 150, 243
 * Accent color		- #FF5252	- 255, 82, 82
*/

/*
 * Default
*/

* {
	box-sizing: border-box;
	font-family: "Roboto";
	font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

html {
	height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
}

a {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #2196F3;
}

form {
	overflow: hidden;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 16px;
}

h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 16px;
}

input[type=button],
input[type=submit] {
	background-color: #2196F3;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	cursor: pointer;
	margin: 0px 0px 4px;
	padding: 8px 16px;
	text-transform: uppercase;
}

input.reverse[type=button],
input.reverse[type=submit] {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #2196F3;
}

input[type=button][disabled],
input[type=submit][disabled] {
	background-color: #E0E0E0;
}

input[type=text],
input[type=password] {
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 0px 0px 1px;
	margin-bottom: 1px;
	padding: 4px 0;
	width: 100%;
}

input[type=text]:focus,
input[type=password]:focus {
	border-bottom: 2px solid #2196F3;
	margin-bottom: 0px;
}

input[type=text]:focus:hover,
input[type=password]:focus:hover {
	border-bottom: 2px solid #2196F3;
	margin-bottom: 0px;
}

input[type=text]:hover,
input[type=password]:hover {
	border-bottom: 2px solid #A8A8A8;
	margin-bottom: 0px;
}

input[type=text][disabled],
input[type=password][disabled] {
	background: none;
	border-color: transparent;
}

span.datetime,
span.multiselect {
	color: #000000;
	cursor: pointer;
	min-height: 20px;
	min-width: 20px;
}

span.datetime:hover,
span.multiselect:hover {
	color: #2196F3;
}

span.datetime.from:before {
	content: "c ";
	color: #000000;
}

span.datetime.to:before {
	content: " по ";
	color: #000000;
}

label {
	cursor: pointer;
}

.cl-b {
	clear: both;
}

.d-n {
	display: none;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.fs-i {
	font-style: italic;
}

.h-a {
	height: auto;
}

.ta-c {
	text-align: center;
}

.ta-l {
	text-align: left !important;
}

.ta-r {
	text-align: right;
}

.va-t {
	vertical-align: top;
}

.error {
	color: #ff0000;
}

/*
 * CSS-loader
*/

.cssload-loader {
	position: absolute;
	left: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
		-o-animation: cssload-rotate-one 1.15s linear infinite;
		-ms-animation: cssload-rotate-one 1.15s linear infinite;
		-webkit-animation: cssload-rotate-one 1.15s linear infinite;
		-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid rgb(33,152,243);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
		-o-animation: cssload-rotate-two 1.15s linear infinite;
		-ms-animation: cssload-rotate-two 1.15s linear infinite;
		-webkit-animation: cssload-rotate-two 1.15s linear infinite;
		-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid rgb(33,152,243);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
		-o-animation: cssload-rotate-three 1.15s linear infinite;
		-ms-animation: cssload-rotate-three 1.15s linear infinite;
		-webkit-animation: cssload-rotate-three 1.15s linear infinite;
		-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid rgb(33,149,243);
}

@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

/*
 * Wings
*/

.background {
	background-color: rgba(255, 255, 255, 0.75);
	height: 100%;
	margin: -16px;
	position: absolute;
	width: 100%;
	z-index: 10000;
}

.card {
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.authtorize {
	padding: 16px;
	position: relative;
	width: 350px;
}

.shift {
	
}

.shift > div {
	float: left;
	margin-right: 16px;
}

.input {
	margin-bottom: 12px;
}
.input label.switch {
	display: block;
}

.input label.inputName {
	color: rgba(0, 0, 0, 0.6);
	display: block;
	height: 20px;
	font-size: 12px;
}

.input .inputExtra {
	height: 0px;
	overflow: hidden;
}

.input .inputExtra .icon {
	background: url("/images/backend/sprite.png") no-repeat 0px 0px transparent;
	float: right;
	height: 15px;
	margin-top: 4px;
	width: 17px;
}

.input .inputExtra .text {
	color: #FF5252;
	font-size: 12px;
	margin-right: 20px;
}

.checkbox {
	background: transparent url("/images/BackEnd/elements/check_off.png") no-repeat scroll 0px 0px;
	cursor: pointer;
	padding-left: 24px;
}

.checkbox.checked {
	background: transparent url("/images/BackEnd/elements/check_on.png") no-repeat scroll 0px 0px;
}

.checkbox input {
	display: none;
}

span.switch {
	background: transparent url("/images/BackEnd/elements/switch_off.png") no-repeat scroll 0px 4px;
	float: right;
	height: 28px;
	width: 36px;
}

.switch.checked {
	background: transparent url("/images/BackEnd/elements/switch_on.png") no-repeat scroll 0px 4px;
}

.switch input {
	display: none;
}

.popup {
	background-color: rgba(0, 0, 0, 0.1);
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 20000;
}

.popup section {
	background-color: #FFFFFF;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	width: 400px;
	padding: 16px;
}

.popup section article {
	margin-bottom: 16px;
}

.datetimePicker {
	border: none;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	margin-top: -255px;
	padding: 0;
	top: 50%;
	z-index: 1000;
}

.datetimePicker header {
	background-color: #2196F3;
	color: #FFFFFF;
	font-size: 1.5em;
	padding: 24px;
	text-align: center;
}

.datetimePicker header output {
	
}

.datetimePicker a.arrow {
	display: block;
	height: 24px;
	margin-top: 1px;
	width: 24px;
}

.datetimePicker .picker {
	float: left;
}

.datetimePicker .picker {
	padding: 0 12px;
}

.datetimePicker .picker.year .arrow {
	margin: auto;
}

.datetimePicker .picker.year div {
	padding: 12px;
}

.datetimePicker .picker.year .overflow {
	height: 336px;
	overflow-y: hidden;
	padding: 0 12px;
}

.datetimePicker .picker.year ul {
	position: relative;
}

.datetimePicker .picker.year li {
	cursor: pointer;
	height: 48px;
	padding: 11px 0;
	text-align: center;
	width: 60px;
}

.datetimePicker .picker.year li.active {
	color: #2196F3;
	font-size: 1.25em;
	font-weight: bold;
}

.datetimePicker .picker.months {
	display: none;
	opacity: 0;
	width: 360px;
}

.datetimePicker .picker.months > div {
	height: 48px;
	padding-top: 12px;
	text-align: center;
}

.datetimePicker .picker.months table {
	
}

.datetimePicker .picker.months table tr {
	border-top: none;
}

.datetimePicker .picker.months table tr:hover {
	background-color: #FFFFFF;
	border-top: none;
}

.datetimePicker .picker.months table td {
	border: 1px solid #E3E3E3;
	height: 84px;
	padding: 0;
	vertical-align: middle;
	width: 112px;
}

.datetimePicker .picker.months table td.active {
	color: #2196F3;
}
.datetimePicker .picker.months table td:hover {
	background-color: #E3F2FD;
}

.datetimePicker .picker.calendar {
	
}

.datetimePicker .picker.calendar .month {
	height: 48px;
	padding: 11px 10px;
	text-align: center;
}

.datetimePicker .picker.calendar tr {
	border-top: none;
}

.datetimePicker .picker.calendar tr:hover {
	background-color: #FFFFFF;
}

.datetimePicker .picker.calendar th,
.datetimePicker .picker.calendar td {
	padding: 0;
	vertical-align: middle;
	width: 48px;
}

.datetimePicker .picker.calendar td.active {
	color: #2196F3;
	font-size: 1.25em;
	font-weight: bold;
}

.datetimePicker .picker.time {
	font-size: 3em;
	padding: 150px 24px 0;
}

.datetimePicker .picker.time input {
	font-size: 1em;
	width: 54px;
}

.datetimePicker .picker.time span {
	display: block;
	float: left;
	font-size: 0.25em;
	margin-right: 34px;
	text-align: center;
	width: 55px;
}

.datetimePicker .picker.time span:last-child {
	margin-right: 0;
}

.datetimePicker footer {
	bottom: 12px;
	position: absolute;
	right: 36px;
}

aside {
	float: left;
	height: 100%;
	position: absolute;
	width: 256px;
	z-index: 10;
}

aside .icon {
	background-position: 0px 10px;
	background-repeat: no-repeat;
	display: block;
	min-height: 48px;
	padding-left: 32px;
	padding-top: 10px;
	white-space: nowrap;
}

.icon.down,
.icon.down.active,
.icon.up,
.icon.up.active {
	margin-right: 0;
	position: absolute;
}

.icon.add {
	background-image: url("/images/backend/icons/add.png");
}

.icon.add.active {
	background-image: url("/images/backend/icons/add_active.png");
}

.icon.back {
	background-image: url("/images/backend/icons/back.png");
}

.icon.back.active {
	background-image: url("/images/backend/icons/back_active.png");
}

.icon.bots {
	background-image: url("/images/backend/icons/bots.png");
}

.icon.bots.active {
	background-image: url("/images/backend/icons/bots_active.png");
}

.icon.content {
	background-image: url("/images/backend/icons/content.png");
}

.icon.content.active {
	background-image: url("/images/backend/icons/content_active.png");
}

.icon.create {
	background-image: url("/images/backend/icons/create.png");
}

.icon.create.active {
	background-image: url("/images/backend/icons/create_active.png");
}

.icon.down {
	background-image: url("/images/backend/icons/down.png");
}

.icon.down.active {
	background-image: url("/images/backend/icons/down_active.png");
}

.icon.exit {
	background-image: url("/images/backend/icons/exit.png");
}

.icon.exit.active {
	background-image: url("/images/backend/icons/exit_active.png");
}

.icon.files {
	background-image: url("/images/backend/icons/files.png");
}

.icon.files.active {
	background-image: url("/images/backend/icons/files_active.png");
}

.icon.filter {
	background-image: url("/images/backend/icons/filter.png");
}

.icon.filter.active {
	background-image: url("/images/backend/icons/filter_active.png");
}

.icon.groups {
	background-image: url("/images/backend/icons/groups.png");
}

.icon.groups.active {
	background-image: url("/images/backend/icons/groups_active.png");
}

.icon.languages {
	background-image: url("/images/backend/icons/languages.png");
}

.icon.languages.active {
	background-image: url("/images/backend/icons/languages_active.png");
}

.icon.modules {
	background-image: url("/images/backend/icons/modules.png");
}

.icon.modules.active {
	background-image: url("/images/backend/icons/modules_active.png");
}

.icon.pages {
	background-image: url("/images/backend/icons/pages.png");
}

.icon.pages.active {
	background-image: url("/images/backend/icons/pages_active.png");
}

.icon.remove {
	background-image: url("/images/backend/icons/remove.png");
}

.icon.remove.active {
	background-image: url("/images/backend/icons/remove_active.png");
}

.icon.save {
	background-image: url("/images/backend/icons/save.png");
}

.icon.save.active {
	background-image: url("/images/backend/icons/save_active.png");
}

.icon.settings {
	background-image: url("/images/backend/icons/settings.png");
}

.icon.settings.active {
	background-image: url("/images/backend/icons/settings_active.png");
}

.icon.shop {
	background-image: url("/images/backend/icons/shop.png");
}

.icon.shop.active {
	background-image: url("/images/backend/icons/shop_active.png");
}

.icon.statistic {
	background-image: url("/images/backend/icons/statistic.png");
}

.icon.statistic.active {
	background-image: url("/images/backend/icons/statistic_active.png");
}

.icon.transfers {
	background-image: url("/images/backend/icons/transfers.png");
}

.icon.transfers.active {
	background-image: url("/images/backend/icons/transfers_active.png");
}

.icon.up {
	background-image: url("/images/backend/icons/up.png");
}

.icon.up.active {
	background-image: url("/images/backend/icons/up_active.png");
}

.icon.update {
	background-image: url("/images/backend/icons/update.png");
}

.icon.update.active {
	background-image: url("/images/backend/icons/update_active.png");
}

.icon.users {
	background-image: url("/images/backend/icons/users.png");
}

.icon.users.active {
	background-image: url("/images/backend/icons/users_active.png");
}

.icon.visits {
	background-image: url("/images/backend/icons/visits.png");
}

.icon.visits.active {
	background-image: url("/images/backend/icons/visits_active.png");
}

aside header {
	background-color: #2196F3;
	height: 144px;
}

aside header .logo {
	color: #FFFFFF;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	padding-top: 48px;
	text-align: center;
	width: 100px;
}

aside header .user {
	margin-top: 22px;
	position: relative;
	z-index: 10;
}

aside header .user.active {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

aside header .user .select {
	cursor: pointer;
	height: 48px;
	padding-top: 10px;
}

aside header .user.active .select {
	background-color: #FFFFFF;
}

aside header .user .select .name {
	color: #FFFFFF;
	float: left;
	margin-left: 12px;
}

aside header .user.active .select .name {
	color: #000000;
}

aside header .user .select .arrow {
	background: url("/images/backend/sprite.png") no-repeat scroll -17px 0px transparent;
	float: right;
	height: 5px;
	margin-right: 12px;
	margin-top: 11px;
	width: 10px;
}

aside header .user.active .select .arrow {
	background: url("/images/backend/sprite.png") no-repeat scroll -17px -10px transparent;
}

aside header .user ul {
	background-color: #FFFFFF;
	display: none;
	padding: 0 12px;
}

aside header .user.active ul {
	display: block;
}

aside nav {
	padding-left: 12px;
}

aside nav ul ul {
	display: none;
	padding-left: 32px;
}

body > section {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	height: 100%;
	margin-left: 256px;
	overflow: hidden;
	position: absolute;
}

body > section > article {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	height: 100%;
	margin-left: 110%;
	overflow: auto;
	padding: 16px;
	position: absolute;
}

article.page1 {
	margin-left: 0px;
	z-index: 100;
}

article.page2 {
	z-index: 200;
}

article.page3 {
	z-index: 300;
}

section > article > section {
	margin: 0 -16px;
}

section > article > section h2 {
	margin-left: 16px;
}

section > article > section .menu {
	margin-right: 16px;
}

section > article > section .menu .icon {
	background-position: 0px 12px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 48px;
	padding-left: 32px;
	padding-top: 10px;
}

section > article > section .menu .icon:hover {
	color: #2196F3;
}

section > article > section .menu .icon.fl-l {
	margin-left: 16px;
	margin-right: 32px;
}

section > article > section .menu .icon.fl-r {
	margin-left: 32px;
}

section > article > section .filters {
	display: none;
	padding-left: 16px;
}

section > article > section .filters div.input {
	float: left;
	height: 48px;
	margin-right: 24px;
	width: 380px;
}

section > article > section .filters label {
	margin-left: 36px;
}

section > article > section .filters label.switch {
	margin-left: 36px;
	margin-top: -25px;
	width: 344px;
}

section > article > section .filters input[type=text] {
	width: 344px;
}

section > article > section .filters span.checkbox {
	margin-right: 12px;
}

table {
	width: 100%;
}

table tr {
	border-top: 1px solid #E3E3E3;
	cursor: pointer;
	height: 48px;
}

table thead tr {
	border-top: none;
}

table tbody tr.selected,
table tbody tr.checked {
	background-color: rgba(33, 150, 243, 0.1);
}

table tbody tr:hover {
	background-color: #E3F2FD;
}

table th {
	color: rgba(0, 0, 0, 0.26);
}

table th,
table td {
	padding: 10px 16px 0px;
	text-align: center;
}

table th .icon {
	float: left;
	height: 24px;
	margin-right: 8px;
	margin-top: 2px;
	width: 24px;
}

ul.tree {
	margin-left: 23px;
}

ul.tree ul.tree {
	margin-left: 0px;
}

ul.tree li {
	color: #000000;
	cursor: pointer;
	margin-left: 24px;
	padding-bottom: 5px;
	padding-top: 5px;
}

ul.tree li.selected {
	color: #2198F3;
}

ul.tree li .arrow {
	display: block;
	height: 24px;
	margin-left: -24px;
	margin-top: 1px;
	position: absolute;
	width: 24px;
}

a.arrow.down {
	background-image: url(/images/backend/icons/keyboard_arrow_down.png);
}

a.arrow.down:hover {
	background-image: url(/images/backend/icons/keyboard_arrow_down_active.png);
}

a.arrow.left {
	background-image: url(/images/backend/icons/keyboard_arrow_left.png);
}

a.arrow.left:hover {
	background-image: url(/images/backend/icons/keyboard_arrow_left_active.png);
}

a.arrow.right {
	background-image: url(/images/backend/icons/keyboard_arrow_right.png);
}

a.arrow.right:hover {
	background-image: url(/images/backend/icons/keyboard_arrow_right_active.png);
}

a.arrow.up {
	background-image: url(/images/backend/icons/keyboard_arrow_up.png);
}

a.arrow.up:hover {
	background-image: url(/images/backend/icons/keyboard_arrow_up_active.png);
}

form {
	padding: 9px 16px 0px;
}



































